spring:
  profiles:
    active: local # defaultê°€ local
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:mariadb://127.0.0.1:3306/wikenDevelopment?useUnicode=true&characterEncoding=utf8&autoReconnect=true&serverTimezone=Asia/Seoul&useOldAliasMetadataBehavior=true&zeroDateTimeBehavior=convertToNull
    username: sbsst
    password: sbs123414
  session:
    store-type: none
mybatis:
  type-aliases-package: com.kjh.wiken.vo
custom:
  logging:
    dir: log
    level: debug
  error:
    include-exception: true
    include-stacktrace: always
    include-message: always
    include-binding-errors: always

---

spring:
  profiles: local
server:
  port: 8050

---

spring:
  profiles: production
  servlet:
    multipart:
      location: /tmp
  datasource:
    username: sbsstLocal
    password: sbslocal123414
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://127.0.0.1:3306/wikenProduction?useUnicode=true&characterEncoding=utf8&autoReconnect=true&serverTimezone=Asia/Seoul&useOldAliasMetadataBehavior=true&zeroDateTimeBehavior=convertToNull
  redis:
    host: 127.0.0.1
    port: 6379
  session:
    timeout: 6000
    store-type: redis
    redis:
      flush-mode: on-save
      namespace: spring:session
custom:
  genFileDirPath: /opt/tomcat/latest/wiken.io-file
  logging:
    dir: /tmp/wiken-log
    level: info